@import "mixin.scss";

$color1 : #FFF;
$color2 : #e93b3b;
$color3 : black;

%bor-radius{
    border-radius: 8px;
} 

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: $color3;
    background-color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, p{
    padding: 0;
    margin: 0;
}

input, button, textarea{
    outline: none;
    @extend %bor-radius;
}

button{
    border: 2px solid transparent;
}

.main{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    @include _979{
        width: 95%;
    }
}

.header-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color1;
    margin-top: 40px;
    height: 100px;
    @include _979{
        height: 80px;
        margin-top: 15px;
    }
    @extend %bor-radius;
    .header-logo{
        margin-left: 30px;
        margin-right: 10px;
        width: 20%;
        cursor: pointer;
        @include _979{
            width: 181px;
        }
        .logo-image{
            width: 100%;
        }
    }
    .header-time{
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 100%;
        &__img{
            width: 58px;
            &_inner{
                width: 100%;
                cursor: pointer;
                transition: 1s all;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }
        &__text{
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin-left: 15px;
            @include _979{
                font-size: 15px;
            }
        }
    }
}

.header-contact{
    width: 50%;
    @include _979{
        width: 250px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    &__image{
        width: 37px;
        @include _979{
            width: 15%;
        }
        &_inner{
            width: 100%;
            transition: 1s all;
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
    &__tel{
        font-size: 21px;
        font-weight: 500;
        @include _979{
            font-size: 17px;
        }
    }
}

.heder-contact__inner{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 15px;
    @include _979{
        width: 80%;
    }
    .header-contact__local{
        display: flex;
        align-items: center;
        .header-local__vector{
            width: 7%;
        }
        .header-local__text{
            margin-left: 5px;
        }
    }
}

.navbar{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $color1;
    transition: .3s all;
    @extend %bor-radius; 
    @include _979{
        height: 50px;
        margin-top: 10px;
    }
    &-item{
        height: 90%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-weight: normal;
        text-align: center;
        border-right: 2px solid $color3;
        transition: .3s all;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            color: $color2;
        }
    }
}
.catalog{
    width: 100%;
    @include _979{
        width: 95%;
    }
    .pages{
        height: 40px;
        width: 100%;
        margin-top: 5px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;  
        &-item{
            height: 100%;
            margin-right: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-weight: normal;
            text-align: center;
            font-size: 16px;
            transition: .3s all;
            cursor: pointer;
            &:hover{
                color: $color2;
                font-size: 18px;
            }
        }
    }
    &_wrap{
        display: flex;
        justify-content: space-between;
        .find{
            margin-top: 50px;
            width: 28%;
            background-color: $color1;
            padding: 16px 16px 20px;
            @extend %bor-radius;
            height: 490px;
            @include _880{
                width: 38%;
            }
            &__title{
                padding-bottom: 16px;
                border-bottom: 1px solid #BDBDBD;
            }
            &-parametr{
                .title_wrap{
                    display: flex;
                    justify-content: space-between;
                    margin: 16px 0 11px 0;
                    cursor: pointer;
                }
                .title{
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 19px;
                    color: #333333;
                    position: relative;  
                }
                label{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 11px;
                    cursor: pointer;
                    .parametr1-item__text{
                        font-size: 16px;
                        font-weight: normal;
                        padding-left: 10px;
                    }
                }
                &3_inner{
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: 48%;
                        padding: 10px 0 10px 5px;
                        border: 1px solid #BDBDBD;
                    }
                }
            }
            .form-button{
                width: 100%;
                margin-top: 25px;
                background-color: $color2;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: $color1;
                padding: 8px 0;
                cursor: pointer;
            }
        }
        .content{
            width: 68%;
            @include _880{
                width: 58%;
            }
            &__title{
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 24px;
                @include _979{
                    font-size: 19px;
                }
            }
            &-block{
                @include _979{
                    flex-direction: column;
                    align-items: center;
                    padding-top: 45px;
                }
                display: flex;
                justify-content: flex-start;
                background-color: $color1;
                width: 100%;
                margin-bottom: 20px;
                // height: 200px;
                @extend %bor-radius;
                padding: 16px;
                position: relative;
                .image_wrap{
                    width: 31%;
                    @include _979{
                        width: 85%;
                    }
                    .content-block__image{
                        width: 100%;
                    }
                }
                .content-box{
                    margin-left: 16px;
                    width: 60%;
                    @include _979{
                        margin-left: 0px;
                        width: 85%;
                    }
                    &__title{
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        width: 80%;
                    }
                    &__text{
                        margin-top: 7px;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 16px;
                        color: #828282;
                        width: 80%;
                    }
                    &__indicators{
                        margin-top: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        .indicators__item{
                            padding: 5px 15px;
                            color: $color1;
                            background: #C4C4C4;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin:10px 16px 0 0;
                            div{
                                margin-left: 4px;
                            }
                        }
                    }
                    .content-box--name{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .content-block__price{
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: right;
                    color: #4F4F4F;
                    display: flex;
                    div{
                        margin-left: 5px;
                    }
                }
            }
            .text{
                margin-top: 40px;
                &_inner{
                    width: 80%;
                    font-size: 16px;
                    line-height: 126.3%;
                    color: #4F4F4F;
                    margin-top: 5px;
                } 
            }
        }
    }
}
.footer{
    @include _979{
        width: 95%;
    }
    margin-top: 40px;
}
.footer_inner{
    width: 100%;
    padding: 30px 40px;
    background-color: $color1;
    display: flex;
    justify-content: flex-start;
    .footer-info{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .footer__img_wrap{
            width: 100%;
            cursor: pointer;
            .logo-image{
                width: 100%;
            }
        }
        .footer-info__location{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;
            .footer-location__text{
                width: 100%;
                margin-left: 5px;
                font-size: 15px;
            }
            img{
                margin-top: 4px;
            }
        }
        .footer-info__number{
            display: flex;
            margin-top: 25px ;
            .footer-number__text{
                margin-left: 20px;
                font-size: 16px;
            }
        }
        .footer-info__box-link{
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            .link_item{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                border: 1px solid #828282;
                border-radius: 100%;
            }
        }
    }
    .footer__text_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-info__name{
            text-align: center;
            font-size: 20px;
            font-weight: 700;
        }
        .footer__text{
            width: 65%;
            margin-top: 10px;
            width: 70%;
        }
    }
}
.footer-confidential{
    display: flex;
    justify-content: center;
    margin: 15px 10px;
    .link{
        color: blue;
        margin-left: 5px;
    }
}






