footer.footer 
    div.footer_inner
        div.footer-info
            div.footer__img_wrap
                img.logo-image(src="images/logo.png" alt="logo")
            div.footer-info__location
                div
                    img(src="images/footer-local.svg" alt="vector")
                div.footer-location__text Company Adress: Lorem ipsum dolor sit amet  18600, Netherlands
            div.footer-info__number 
                img(src="images/footer-tel.svg", alt="")
                div.footer-number__text +38 958 755-00-00
            div.footer-info__box-link
                a(href="#").link_item
                    img(src="images/footer-faseboock.svg", alt="")
                a(href="#").link_item
                    img(src="images/footer-faseboock.svg", alt="")
                a(href="#").link_item
                    img(src="images/footer-skype.svg", alt="")
                a(href="#").link_item
                    img(src="images/footer-youtobe.svg", alt="")
        div.footer__text_wrap
            div.footer-info__name SK AVTO CLUB
            div.footer__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.
    div.footer-confidential © 2019 -
        a.link(href="#")  Privacy Policy - Terms and Conditions